.idea/
target/
project/target/
project/project/target/

mathact_core/target/
mathact_core/project/target/
mathact_core/project/project/target/

mathact_tools/target/
mathact_tools/project/target/
mathact_tools/project/project/target/

mathact_examples/target/
mathact_examples/project/target/
mathact_examples/project/project/target/


